*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


main{
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.box-main{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding:20px;
    margin-bottom: 250px;
}
.logo-riot{
    width: 200px;
    padding: 40px;
}

form{
    width:100%;
    height: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;

}
.form-login input{
    background: #E8E6E6;
    width:15rem;
    padding: 15px;
    outline: none;
    border-radius: 2px;
    border:none;
    margin-top: 5px;
}
.usuario{
    position: relative;
    right:70px;
    bottom:39px;
    opacity: 0.5;
    font-size:0.5rem;
    font-weight: 750;
    text-transform: uppercase;
    transition: all 0.25s;
}
.senha{
    position: relative;
    right:95px;
    bottom:39px;
    opacity: 0.5;
    font-size:0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.25s;
}
.icons-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top:20px;
}

 .icons-nav .Facebook{
    background: #2051FF;
    width:70px;
    height: 30px;
    padding: 10px 15px;
    border-radius: 2px;
    display: inline-block;
}
.icons-nav .img-padrao{
    width:21px;
    position:relative;
    left:10px;
    bottom: 5px;
}
.google-img{
    width:21px;
    height: 21px;
    position:relative;
    left:25px;
    bottom: -5px;
}
.apple-img{
    width:21px;
    position:relative;
    left:25px;
    bottom: -5px;
}
.icons-nav .google{
    background: #8A0000;
    width:70px;
    height: 30px;
    border-radius: 2px;
}
.icons-nav .apple{
    background: #000000;
    width:70px;
    height: 30px;
    border-radius: 2px;
}
.manter{
    position: relative;
    top: 10px;
    right:115px;
}
.label-manter{
    position: relative;
    top: -5px;
    right: 55px;
}
.manter label{
    font-weight: 700;
}
.btn button{
    background: #FF002E;
    width: 51px;
    height: 40px;
    border: none;
    border-radius: 5px;
    position: relative;
    top:80px;
    opacity: 0.2;
    cursor:pointer;
}
.cor-mudar button{
    background-color: #FF002E;
    width: 51px;
    height: 40px;
    border: none;
    border-radius: 5px;
    position: relative;
    top:80px;
    cursor:pointer;
}
.btn img{
    width: 27px;
    width: 27px;
}
.cor-mudar img{
    width: 27px;
    width: 27px;
}
.criar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    top:90px;
}
.criar p,.conta{
    font-size: 0.8rem;
    opacity:0.7;
}
.criar a{
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.box-img{
    width: 100%;
    height: 100vh;

}
.box-img img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
@media(max-width:900px){
    .box-img{
        display:none;
    }
}